{% macro stylesheet() %}
<!-- CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.13.0/devicon.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@4.0.0/github-markdown.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="{{ get_url(path='main.css', trailing_slash=false) }}">
{% endmacro %}

{% macro javascript() %}
<!-- JS -->
{% if config.build_search_index %}
<script src="{{ get_url(path='plugins/elasticlunr.min.js') | safe }}" defer></script>
<script src="{{ get_url(path='search_index.' ~ config.default_language ~ " .js" ) | safe }}" defer></script>
<script src="{{ get_url(path='js/search.js') | safe }}" defer></script>
{% endif %}
{% endmacro %}

{% macro rss() %}
<!-- RSS -->
{% if config.generate_feed %}
<link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
    %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
{% endif %}
{% endmacro %}

{% macro avatar() %}
{% if config.extra.avatar %}
<div style="display:block;margin:auto auto 0;padding:.5rem">
    <figure class="image">
        <img id="avatar" class="is-rounded" src="{{ config.extra.avatar }}">
    </figure>
</div>
{% endif %}
{% endmacro %}