{% import 'partials/about.html' as partial_about -%}
{% import 'partials/skills.html' as partial_skills -%}
{% import 'partials/projects.html' as partial_projects -%}
{% import 'partials/opensource.html' as partial_opensource -%}
{% import 'partials/publications.html' as partial_publications -%}
{% import 'partials/experience.html' as partial_experience -%}
{% import 'partials/education.html' as partial_education -%}
{% import 'partials/blog.html' as partial_blog -%}

{% extends "base.html" %}

{% block content %}
<div id="fullpage">
  {% if config.extra.show_about %}
  <div class="section hero is-fullheight" id="about" style="overflow: scroll;">
    {{ partial_about::display() }}
  </div>
  {% endif %}

  {% if config.extra.show_skills %}
  <div class="section hero is-fullheight" id="skills" style="overflow: scroll;">
    {{ partial_skills::display() }}
  </div>
  {% endif %}

  {% if config.extra.show_projects %}
  <div class="section hero is-fullheight" id="projects" style="overflow: scroll;">
    {{ partial_projects::display() }}
  </div>
  {% endif %}

  {% if config.extra.show_opensource %}
  <div class="section hero is-fullheight" id="opensource" style="overflow: scroll;">
    {{ partial_opensource::display() }}
  </div>
  {% endif %}

  {% if config.extra.show_publications %}
  <div class="section hero is-fullheight" id="publications" style="overflow: scroll;">
    {{ partial_publications::display() }}
  </div>
  {% endif %}

  {% if config.extra.show_experience %}
  <div class="section hero is-fullheight" id="experience" style="overflow: scroll;">
    {{ partial_experience::display() }}
  </div>
  {% endif %}

  {% if config.extra.show_education %}
  <div class="section hero is-fullheight" id="education" style="overflow: scroll;">
    {{ partial_education::display() }}
  </div>
  {% endif %}

  {% if config.extra.show_blog %}
  <div class="section hero is-fullheight" id="blog" style="overflow: scroll;">
    {{ partial_blog::display() }}
  </div>
  {% endif %}

</div>
{% endblock content %}