{# Default section.html template #}

{% extends "base.html" %}

{% block content %}
<div class="container is-fluid" style="min-height: 100vh;">
  <div class="is-flex is-flex-direction-column is-justify-content-center" style="min-height: 100vh;">
    <div>
      <h1>{{ section.title }}</h1>
    </div>
    {% for page in section.pages | reverse %}
    <div class="mb-5">
      <nav class="level mb-0">
        <div class="level-left">
          <div class="level-item">
            <h3 class="post-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
          </div>
        </div>
      </nav>
      <div class="is-flex is-flex-direction-row">
        {% if page.extra.image %}
        <div class="mr-5">
          <figure class="image is-128x128">
            <img src="{{ page.extra.image }}">
          </figure>
        </div>
        {% endif %}
        {% if page.description %}
        <div class="content">
          {{ page.description | markdown() | safe }}
          <a href="{{ page.permalink }}">Read More</a>
        </div>
        {% endif %}
      </div>
      {% if page.taxonomies.tags %}
      <div class="tags">
        {% for tag in page.taxonomies.tags %}
        <span class="tag"><a href="/tags/{{ tag | lower }}">{{ tag }}</a></span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}